.highlight,highlight:focus
{
    /*background-image: none !important;
    background-color: #fffacd !important;
	
	background: url("../images/arrow.png") repeat-x scroll 50% 50% #FEF1EC;*/
    border: 1px solid #CD0A0A !important;
    --color: Black;
    color: white;
    background-color: #CD0A0A;
}
.SentenseCase 
{
    text-transform:capitalize;
}


.alertbox div
{
   height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #C00;
	background-color: #F2F2F2;
	border: 1px solid red;
	box-shadow: 0 -2px 2px rgba(50, 50, 50, 0.3);
	border-radius: 4px 4px 0px 0px;
	padding: 2px;
	text-align: left justify;
	float: left;
	border-bottom: none;
	text-align: center;
	width:auto;
}